/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	margin: 0;
	padding: 30px;
	font-family:  'Alice', serif;
	font-size: 18px;
	line-height: 1.5;
}

h1, h2, h3 {
	font-family: 'Kaushan Script', cursive;
	font-weight: normal;
	margin: 0;
}

blockquote {
	font-family: 'Kaushan Script', cursive;
}

/* --------------------------------------------------- */

/* barvy */
:root {
	--svetla: #edf3f5;
	--seda: #b2bec3;
	--tmava: #636e72;
	--oranzova: #ee5a24;
	--cervena: #ea2027;
	--zluta: #f79f1f;
	--zelena: #a3cb38;
	--limetka: #c4e538;
}



.blog {
	display: grid;
	grid-template-columns: 1fr 4fr 2fr;
	gap: 40px
}

header {
	grid-column: 2 / 3;
}

header p {
	color: #636e72;
	margin: 0;
}

h1 {
	color: #a3cb38;
	font-size: 70px;
	margin-bottom: 70px;
}

.tip-vlevo1 {
	grid-column: 1 / 2 ;
	background-color: #edf3f5;
	height: 130px;
	width: 170px;
	border-right: 2px solid #f79f1f;
	padding: 10px;

}

.tip-vlevo1 a {
	color: #f79f1f;
}

p {
	grid-column: 2 / 3;
	margin: 0;
}

figure {
	grid-column: 1 / -1;
	margin: 0;
	
}

figcaption {
	color: #b2bec3;;
}

blockquote {
	grid-column: 1 / -1 ;
	text-align: center;
	color: #b2bec3;
	font-size: 30px;
	position: relative;
	margin: 0;
}

blockquote::before {
	content:"";
	display: block;
	position: absolute;
	left: 45%;
	top: -20px;
	width: 100px;
	height: 3px;
	background-color: #a3cb38;;
}

blockquote::after {
	content:"";
	display: block;
	text-align: center;
	width: 100px;
	height: 3px;
	background-color: #a3cb38;
	position: absolute;
	left: 45%;
	bottom: -20px;
}


.tip-vpravo {
	grid-column: 3 / 4;
	background-color: #edf3f5;
	max-height: 230px;
	width: 1fr;
	border-left: 2px solid #f79f1f;
	padding: 10px;
}

.tip-vpravo a {
	color: #f79f1f;
}


footer {
	grid-column: 2 / 3;
	color: #b2bec3;
	font-size: 17px;
}

footer a {
	color: #b2bec3;;
}

h2 {
	grid-column: 2 / 3;
	color: #a3cb38;
	font-size: 45px;
}

.obrazek {
	width: 100%;
	margin: 0;
}

.tip-vlevo2 img {
	width: 100%;
}

.tip-vlevo2 {
	grid-column: 1 / 2 ;
	background-color: #edf3f5;
	height: 250px;
	width: 170px;
	border-right: 2px solid #f79f1f;
	padding: 10px;
}









/*
	Všimni si, jak jsou zde nadefinované barvy.
	Potřebný kód barvy si odtamtud můžeš zkopírovat a použít
	ve svém kódu, ale existuje i lepší způsob.

  CSS custom properties, někdy také označované jako CSS
	variables (CSS proměnné), je způsob, jak si	pojmenovat
	nějakou hodnotu a potom ji v kódu opakovaně používat.
	Často se používá právě pro barvy, rozměry a další "nastavení".

	Když si chci nějakou hodnotu nadefinovat, použiji zápis:
	--mujnazev: hodnota;

	Když chci, abych mohl takovou hodnotu používat kdekoliv v CSS,
	založím ji uvnitř selektoru :root, takže např.:
	:root {
		--mojebarva: #ff8800;
	}

	Chci-li potom v CSS hodnotu použít, stačí použít funkci var
	a do závorek uvést název proměnné. Např.:
	.odstavec {
		color: var(--mojebarva);
	}

	Nemusím si tak pamatovat kódy barev nebo neustále v CSS jezdit nahoru a dolů, abych si je odněkud zkopíroval.

	Více o CSS custom properties:
	- https://www.w3schools.com/css/css3_variables.asp
	- https://css-tricks.com/patterns-for-practical-css-custom-properties-use/
	- https://www.smashingmagazine.com/2017/04/start-using-css-custom-properties/
*/

